:root{
  --color1: #C4C4C4;
  --color2: #ffffff;
  --color3: #000000;
}

.App {
  text-align: center;
}

.App-logo {
  align-self: flex-start;
  justify-content: flex-start;
  pointer-events: none;
}

.App-logo .img-logo{
  width: 20em;
}

.App-logo .img-logo:hover{
  cursor: pointer;
  filter: opacity(30%);
}

.App-header {
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  font-size: calc(5px + 2vmin);
  color: white;
  align-items: center;
  height: 3em;
  flex:1;
  justify-content: space-between;
}

.navbar-menu{
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.navbar-item{
  background-color: var(--color2);
  color: var(--color3);
  width: 100%;
  padding: 0.8em;
}

.navbar-item:hover{
  text-decoration:none;
  background-color: var(--color3);
  color: var(--color2);
}

.navbar-item.is-active{
  background-color: var(--color3);
  color: var(--color2);
}
