:root{
  --color1: #C4C4C4;
  --color2: #ffffff;
  --color3: #000000;
}
html{
  scroll-behavior: smooth;
  transition: 0.5s;
}
.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  pointer-events: none;
}

.App-logo .img-logo{
  width: 30vh;
}

.App-logo .img-logo:hover{
  cursor: pointer;
  filter: opacity(30%);
}

.App-header {
  background-color: var(--color2);
  display: flex;
  flex-direction: row;
  font-size: calc(5px + 2vmin);
  color: white;
  align-items: center;
  flex: 1;
  justify-content: space-between;

}

.navbar-menu{
  display: flex;
  /* height: 5vh; */
  /* justify-content: flex-end;
  align-items: center; */
  padding: 0% !important;
  justify-content: flex-start;

}
.navbar-logo{
  display: flex;
  /* height: 5vh; */
  /* justify-content: flex-end;
  align-items: center; */
  padding: 0% !important;
  justify-content: flex-start;

}
.logo-ham{
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.hamburger{
  align-items: center;
  font-weight: bold;
  padding: 0.1em;
  margin-right: 0.5em;
  margin-top: 0.2em;
  color: var(--color3);
  border: white solid;
  box-shadow: 0 0 0.1em var(--color1);
  display: none;
}
.hamburger.click{
  border-radius: 0.3em;
  background-color: #7e7e7e3f;
  color: white;
  font-weight: bold;
}
.navbar-item{
  color: var(--color3);
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.All-box{
  background-color: blue;
  padding: 5%;
}
.navbar-item:hover{
  text-decoration:none;
  color: var(--color3);
  font-weight: bold;
  border-bottom: 0.3rem solid var(--color3);
}

.navbar-item.is-active{
  color: var(--color3);
  font-weight: bold;
  border-bottom: 0.3rem solid var(--color3);
}
.container-fluid{
  padding: 0% !important;
  width: 100vw;
  display: flex;
  margin: 0% !important;
}
.nav-link {
  display: block;
  padding: 0% !important;
  color: black;
}
.nav-link:focus, .nav-link:hover {
  text-decoration: none;
  color: white;
}
.dropdown-item:hover {
  text-decoration: none;
  background-color: var(--color3) !important;
  color: var(--color2) !important;
}
nav {
  font-family: monospace;
}

@media screen and (max-width: 576px) {
  .App-header{
    flex-direction: column;
  }
  .hamburger{
    display: flex;
  }
  .main-menu{
    display: none;
  }
  .main-menu.click{
    display: flex;
  }

}

