:root{
  --color1: #C4C4C4;
  --color2: #ffffff;
  --color3: #000000;
}

.App {
  text-align: center;
}

.App-logo {
  align-self: flex-start;
  pointer-events: none;
}

.App-logo .img-logo{
  width: 30vw;
}


.App-header {
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

.breadcrumb{
  padding: 0 !important;
  background-color: transparent !important;
  display: flex;
}

.breadcrumb-item{
  color: black;
  align-self:center;
}

.breadcrumb-item+.breadcrumb-item::before{
  content: '' !important;
}

.breadcrumb-item.active{
  color: white !important;
}

.menu a {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
