:root{
    --color1: #C4C4C4;
    --color2: #ffffff;
    --color3: #000000;
}

.launches{
    width: 100vw;
    margin: auto;
}
.text-3{
    color: var(--color2);
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.search{
    padding-left: 3vw !important;
}

.filter-ico > *{
    width: 1rem;
}
.list-group-item{
    display: flex;
    
}
.list-group-item > *{
    margin: auto;
}
.image-lan{
    width: 10rem;
    align-self: center;
    padding-top: 2vw;
}
.lan-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 4%;
}
.card-body{
    padding: 0 !important;
}
.card-detail:hover{
    cursor: pointer;
    opacity: 80%;
}
.card-title {
    padding-top: 1vw;
}

.detail-lan{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.loading{
    padding: 3vw;
    margin: auto;
}


/* Responsive */
@media all and (max-width:415px) {
   
}
@media screen and (max-width: 770px) {
    .lan-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 1320px) {
    .lan-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}