body{
    background-color: black !important;
  }

  .RocketD.container-fluid{
    margin: 0 !important;
    display: block;
  }
  .col-sm-3{
    height: 25vw;
  }
  .Falcon9.col-sm-3 {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    border: black solid 1vw;
  }
  .RC-FC9.col-sm-9{
    display: flex;
    background-color: #000000;
    padding: 0;
  }
  .rocket-pic{
      width: 10vw;
  }
  .RC-FC9-D{
      display: flex;
      flex-direction: column;
    align-self: center;
    padding : 2%;
    flex-grow: 1;
    align-items: center;
    min-width: 5%;
  }
  a.buttonS{
      padding: 1vw;
  }
  .fontSize{
      width: 100%;
      font-size: 100%;
      color: rgb(255, 255, 255);
  }
  .badge {
    display: flex;
  }
  .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
    font-size: 0.7vw;
    
}
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media screen and (max-width: 769px) {
    .row{
      width:100%;
    }
    .fontSize{
      width: 100%;
      font-size: 100%;
      color: rgb(255, 255, 255);
  }
  }
  @media screen and (max-width: 420px) {
    .row{
      width:105%;
      padding-left: 2%;
    }
    .fontSize{
      width: 100%;
      font-size: 50%;
      color: rgb(255, 255, 255);
  }
  }
  @media screen and (max-width: 376px) {
    .row{
      width:104%;
    }
    .fontSize{
      width: 100%;
      font-size: 35%;
      color: rgb(255, 255, 255);
  }
  }
  @media screen and (max-width: 326px) {
    .row{
      width:105%;
    }
  }